@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

/* Tailwind Base Layer */
@layer base {
  h1 {
    @apply text-[clamp(2rem,8vw,5rem)] font-bold;
  }
  h2,
  h3 {
    @apply font-sans;
  }

  p {
    @apply font-serif;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  background-color: #000; /* Ensures no extra space */
  color: #fff;
}
